{% extends  'base.html' %}

{% load crispy_forms_tags %}

{% block main %}

<ul class="Menu">
  <li><a href="/">Home</a></li>
  <li><a href="/stations/stations">Stations</a></li>
  <li><a href="/observations/observation_list">Observations</a></li>
  <li><a href="/user_list">Users</a></li>
  <li><a class="active" href="/login/">Log In</a></li>
  <li><a href="/signup/">Register your station</a></li>
  <li style="float:right"><a href="#about">About</a></li>
</ul>

{% if validlink %}

<div class="card">
<div class="card-body">
<h4 class="card-title">Set a new password</h4>

<form method="post">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">

{{ form|crispy }}

<button type="submit" class="btn btn-primary btn-block">Reset password</button>
</form>
</div>
</div>

{% else %}
<div class="card">
	<div class="card-body">
		<h4 class="card-title">Link Expired</h4>
			<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
			<a href="{% url 'login' %}" class = "btn btn-primary btn-block">Login</a>
{% endif %}
{% endblock %}
