{% extends 'base.html' %}

{% block main %}
<ul class="Menu">
  <li><a href="/">Home</a></li>
  <li><a href="/stations/stations">Stations</a></li>
  <li><a href="/observations/observation_list">Observations</a></li>
  <li><a href="/user_list">Users</a></li>
  <li><a class="active" href="/login/">Log In</a></li>
  <li><a href="/signup/">Register your station</a></li>
  <li style="float:right"><a href="#about">About</a></li>
</ul>


<div  class="card">
<div  class="card-body">
<h4  class="card-title">Password reset!</h4>
<p> Your password has been reset </p>
<a href="{% url 'login' %}" class="btn btn-primary btn-block">Login</a>
</div>
</div>
</div>
{% endblock %}
