{% extends "base_stations.html" %}

{% block title %}<h1 class="text-center">Stations</h1>{% endblock title %}

{% block main %}
{% load render_table from django_tables2 %}

You entered an invalid Maidenhead grid square value. If you are uncertain on how to
set your grid square location, see <a href="https://www.levinecentral.com/ham/grid_square.php"> here.</a>

<style>
table {
        width: 1000px;
        border: 5px solid black;
}
</style>
<!--
th {
        border: 5px solid black;
        text-align: center;
}
tr, td {
        border: 3px solid #dddddd;
        text-align: center;
}
-->
<!--<h1 class="text-center">Stations</h1>-->
<div>
        <a href="{% url 'my_stations_list' %}">View your stations</a>
</div>
<div>
        <a href="{% url 'add_station' %}">Add new station</a>
</div>
<br>

<div>
        {% render_table table %}
</div>

<!--
<table>
        <tr>
                <th>ID</th>
                <th>User</th>
                <th>Nickname</th>
                <th>Grid</th>
                <th>Elevation</th>
                <th>Antenna 1</th>
                <th>Antenna 2</th>
        </tr>
        {% for station in mag_stations %}
        <tr>
                <td>{{station.station_id}}</td>
                <td>{{station.user.username}}</td>
                <td>{{station.nickname}}</td>
                <td>{{station.grid}}</td>
                <td>{{station.elevation}}</td>
                <td>{{station.antenna_1}}</td>
                <td>{{station.antenna_2}}</td>
        </tr>
        {% endfor %}
</table>
-->

<div>
        <a href="{% url 'my_stations_list' %}">View your stations</a>
</div>
<div>
        <a href="{% url 'add_station' %}">Add new station</a>
</div>

{% endblock main %}

