{% extends "base_stations.html" %}

{% block title %}
<h1 class="text-center">{{station.nickname}}</h1>
{% endblock title %}

{% block main %}
{% load render_table from django_tables2 %}

<style>
table {
        width: 1000px;
        border: 5px solid black;
}
.info{
	background-color: white;
}
</style>

<br>
<form action="{% url 'station_update' id=station.id %}" method="GET">
	{% csrf_token %}
	<button type="submit">Edit Station Details (this station)</button>
</form>
<br>
<div>
<b>Details of this station:</b>
</div>
<ul class="info">
	<li class="details">ID: {{station.station_id}}</li>
    <li class="details">Nickname: {{station.nickname}}</li>
	<li class="details">User: {{station.user.username}}</li>
	<li class="details">Token: {{station.station_pass}}</li>
	<li class="details">Latitude: {{station.latitude|floatformat:3}}</li>
	<li class="details">Longitude: {{station.longitude|floatformat:3}}</li>
	<li class="details">Grid: {{station.grid}}</li>
	<li class="details">Elevation: {{station.elevation}}</li>
	<li class="details">Antenna 1: {{station.antenna_1}}</li>
	<li class="details">Antenna 2: {{station.antenna_2}}</li>
	<li class="details">Street Address: {{station.street_address}}</li>
	<li class="details">City: {{station.city}}</li>
	<li class="details">State: {{station.state}}</li>
	<li class="details">Postal Code: {{station.postal_code}}</li>
	<li class="details">Date Created: {{station.create_date}}</li>
	<li class="details">Recieve emails when station goes offline?  {{station.offlineNotify}}</li>
</ul>
<br>
Below is a list of instruments of this station. To edit details of an instrument, click on its ID.
<div>
	{% render_table table %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<div style="padding-top: 10px;">
	<form action="{% url 'add_instrument' id=station.id %}" method="GET">
		<button type="submit">Add New Instrument</button>
	</form>
</div>
<br>
<form action="{% url 'my_stations_list' %}" method="GET">
	{% csrf_token %}
	<button type="submit">Back</button>
</form>

{% endblock main %}
